[Unit]
Description=Dummy systemd service from roadmap.sh/projects/dummy-systemd-service excercise
After=user.target

[Service]
ExecStart=/home/jpreyer/dummy-systemd-service/service.sh
Type=simple
Restart=always
User=root


[Install]
WantedBy=default.target
